<script>requireLazy(["bootstrapWebSession"],function(j){j(1574520056)})</script>

<div class="backg">

<div id="pagelet_bluebar" data-referrer="pagelet_bluebar">
    <div id="blueBarDOMInspector" class="_21dp">
        <div id="bluebarRoot" class="_2t-8 _1s4v _2s1x _h2p">
            <div aria-label="Facebook" class="_2t-a _26aw _5rmj _50ti _2s1y" role="banner">
                <div class="_2t-a _50tj">
                    <div class="_2t-a _4pmj _2t-d">
                        <div class="_2t-e">
                            <div class="_4kny">
                                <img src="/assets/img/logo.png" alt="Logo" style="width:25px;margin-top:10px;margin-right:15px;"/>
                                <h1 class="_19ea" data-click="bluebar_logo">
                                    <a class="_19eb" title="Acc&#xe9;der &#xe0; la page d&#x2019;accueil"></a>
                                </h1>
                            </div>
                            <div class="_4kny _50tm">
                                <div class="_585-" role="search" id="u_0_7">
                                    <form>
                                        <div class="_5861">
                                            <button value="1" class="_42ft _4jy0 _4w98 _4jy3 _517h _51sy" aria-label="Rechercher" tabindex="-1" data-testid="facebar_search_button" type="submit"><i class="_585_"></i></button>
                                            <div class="_8pi5">
                                                <input type="text" class="inputtext _1frb" placeholder="Rechercher"d="u_0_8" />
                                            </div>
                                            <img class="_8pi2 hidden_elem img" src="https://static.xx.fbcdn.net/rsrc.php/v3/yE/r/fx7ZES_ni-0.gif" alt="" width="16" height="16" id="u_0_9" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div aria-label="Facebook" class="_2t-f" role="navigation" id="u_0_a">
                            <div class="_cy6">
                                <div class="_4kny">
                                    <div class="_1k67 _cy7" data-click="profile_icon">
                                        <a accesskey="2"  class="_2s25 _606w"  title="Profil">
                                            <span class="_1qv9">
                                                <img class="_2qgu _7ql _1m6h img" src="https://scontent.ftun5-1.fna.fbcdn.net/v/t31.0-1/c12.0.40.40a/p40x40/10506738_10150004552801856_220367501106153455_o.jpg?_nc_cat=1&amp;_nc_ohc=d_C2FUvbcVwAQlOwHQ2zzNBz42q9oMpaESuWIXs5NdlZxhKamv75D9C2g&amp;_nc_ht=scontent.ftun5-1.fna&amp;oh=1551b7b45fb1a423bc70893c2d40387a&amp;oe=5E4C7ACC" alt="" id="profile_pic_header_100013768772064" />
                                                <span class="_1vp5">Mourad</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="_4kny _2s24">
                                    <div class="_3qcu _cy7" data-click="home_icon" id="u_0_b">
                                        <a class="_2s25" accesskey="1">Accueil</a>
                                    </div>
                                </div>
                                <div class="_4kny _2s24">
                                    <div class="_6a uiPopover _cy7" id="u_0_c">
                                        <a id="creation_hub_entrypoint" class="dropdown-toggle _2s25 _6a67 _4j0c _p" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Créer</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#myModal">Buisness Page</a>
                                            <a class="dropdown-item">Normal Page</a>
                                            <a class="dropdown-item">Create Groupe</a>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                            <div class="_cy6 _2s24">
                                <div class="_4kny">
                                    <div class="uiToggle _4962 _3nzl _24xk" id="fbRequestsJewel" data-toggle-wc="1">
                                        <a class="jewelButton _3eoa"  rel="toggle" role="button" aria-labelledby="u_0_3" name="requests">
                                            <div class="_2n_9">
                                                <span class="jewelCount" id="u_0_3">
                                                    <span class="_51lp hidden_elem _3z_5 _5ugh" id="requestsCountValue">0</span> <i class="accessible_elem">Invitations</i>
                                                </span>
                                            </div>
                                        </a>
                                        <div class="__tw toggleTargetClosed _3nzk uiToggleFlyout" role="dialog" id="fbRequestsFlyout" aria-labelledby="fbRequestsJewelHeader">
                                            <div class="beeperNub"></div>
                                            <ul class="jewelItemList _3nzp" id="fbRequestsList">
                                                <li>
                                                    <div id="fbRequestsList_wrapper" data-referrer="fbRequestsList_wrapper"><img class="jewelLoading img" src="https://static.xx.fbcdn.net/rsrc.php/v3/yA/r/vF9DX0rAdyp.gif" alt="" width="16" height="10" /></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="_4kny">
                                    <div class="uiToggle _4962 _1z4y _330i _4kgv" data-toggle-wc="1" id="u_0_d">
                                        <a class="jewelButton _3eo8"  rel="toggle" role="button" aria-labelledby="u_0_6" name="mercurymessages" >
                                            <div class="_2n_9">
                                                <span class="jewelCount" id="u_0_6">
                                                    <span class="_51lp hidden_elem _3z_5 _5ugh" id="mercurymessagesCountValue">0</span> 
                                                    <i class="accessible_elem">Messages</i>
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="_4kny">
                                    <div class="uiToggle _4962 _4xi2 _5orm" id="fbNotificationsJewel" data-toggle-wc="1">
                                        <a class="jewelButton _3eo9"  rel="toggle" role="button" aria-labelledby="u_0_5" name="notifications" data-gt="&#123;&quot;ua_id&quot;:&quot;jewel:notifications&quot;&#125;" data-target="fbNotificationsFlyout">
                                            <div class="_2n_9">
                                                <span class="jewelCount" id="u_0_5">
                                                    <span class="_51lp hidden_elem _3z_5 _5ugh" id="notificationsCountValue">0</span> 
                                                    <i class="accessible_elem">Notifications</i>
                                                </span>
                                            </div>
                                        </a>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="_cy6 _2s24">
                                <div class="_4kny">
                                    <div class="uiToggle _8-a _1kj2 _4d1i _-57 _5-sk" id="u_0_h">
                                        <a class="_59fc"  rel="toggle" role="button" data-tooltip-delay="500" aria-haspopup="true" aria-controls="u_0_4" aria-label="Pages d&#x2019;aide" data-hover="tooltip" data-tooltip-content="Aide rapide" >
                                            <div class="_59fb _tmz"></div>
                                        </a>
                                        <div aria-label="Aide rapide" id="u_0_4" class="__tw _8-b _tdb toggleTargetClosed uiToggleFlyout" role="dialog">
                                            <div class="beeperNub"></div>
                                            <div id="fbHelpLiteFlyout">
                                                <div id="fbHelpLiteFlyoutLoading" class="_5uco">
                                                    <span class="img _55ym _55yn _55yo _26y2" aria-busy="true" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuetext="Chargement..."></span>
                                                </div>
                                            </div>
                                            <div id="fbHelpLitePrivacyHolder"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="_4kny">
                                    <div class="_5lxr">
                                        <div class="_6a _6b uiPopover _1io_" id="logoutMenu" data-nocookies="1">
                                            <a aria-haspopup="true" aria-labelledby="userNavigationLabel" class="_5lxs _3qct _p" id="pageLoginAnchor" rel="toggle" role="button" aria-expanded="false">
                                                <div class="_6qfu _5lxt" id="userNavigationLabel">Paramètres du compte</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="_1r9-" id="u_0_i"></div>
    </div>
</div>


        <!-- The Modal -->
        <div class="modal" id="myModal">
        <div class="modal-dialog">
        <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
        <h4 class="modal-title">Create Buisness Page</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <form action="">
                <label>Matricule</label>
                <input class="inp" name="yoo"  [(ngModel)]="Matricule" type="text"  ><br>
                <label>Brand</label>
                <input  class="inp" name="yo2" [(ngModel)]="Brand" type="text"><br>
                <label>Sector</label>
                <input  class="inp" name="y3oo" [(ngModel)]="Sector" type="text"><br>

            
                
            </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal"  routerLink="/buisness" (click)="postjson()" >Valider</button>
        </div>

        </div>
        </div>
        </div>

    

    </div>